<h2>Liste des relevés</h2>

<table class="table table-hover">

    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom de la ville</th>
        <th scope="col">Date</th>
        <th scope="col">Température</th>
        <th scope="col">humidité</th>
        <th scope="col">ensoleillement</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of ListeReleve">
          <td class="name-col"><strong>{{r.ville.nom}}</strong></td>
          <td class="name-col">{{ r.date }}</td>
          <td class="name-col">{{ r.ensoleillement }}</td>
          <td class="name-col">{{ r.humidite }}</td>
          <td class="name-col">{{ r.temperature }}</td>
        </tr>
      </tbody>

  </table>
