<div class="p-3 mb-2 bg-primary text-white" id="header">
  <div class="div-head">
    <h3>{{title}}</h3>
  </div>

    <div class="div-head nav-menu">
      <ul class="nav">
        <li class="nav-item"><a routerLink="/">Liste des villes</a></li>
        <li class="nav-item"><a routerLink="/releveall">Liste des relevés</a></li>
        <li class="nav-item"><a routerLink="#">Ajouter un relevé</a></li>
      </ul>
    </div>

</div>

<div class="mx-auto mar-div" style="width: 1080px;">

  <router-outlet></router-outlet>

</div>


