<h2>Ajout d'un relevé pour la ville de <strong>{{ nomVille }}</strong></h2>

<form  class="form-group" (submit)="saveReleve()">

  <label>Température</label><br/>
  <input  class="form-control" [(ngModel)]="newReleve.temperature" type="text" name="temperature"><br/><br/>

  <label>humidité</label><br/>
  <input class="form-control" [(ngModel)]="newReleve.humidite" type="number" name="humidite"><br/><br/>

  <label>ensoleillement</label><br/>
  <input class="form-control" [(ngModel)]="newReleve.ensoleillement" type="number" name="ensoleillement"><br/><br/>

  <input class="btn btn-primary" type="submit" value="Sauvegarder">
  <button class="btn btn-primary div-back" (click)="backPage()">Retour</button>
</form>
