<h2>{{this.nomVille}}</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Temperature</th>
      <th>Humidite</th>
      <th>Ensoleillement</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of listeReleves">
      <td>{{ r.date }}</td>
      <td>{{ r.temperature }}</td>
      <td>{{ r.humidite }}</td>
      <td>{{ r.ensoleillement }}</td>
    </tr>
  </tbody>
  <input type="button" [routerLink]="['/releveform', {idVille: idVille, nomVille: nomVille}]" value="Ajouter">
</table>

